Source: archgenxml
Section: devel
Priority: optional
Maintainer: Jens W. Klein <jens@bluedynamics.com>
Build-Depends-Indep: python-setuptools (>= 0.6b3-1)
Build-Depends: debhelper (>= 5.0.38), cdbs (>= 0.4.43), python2.4-dev, python-support (>= 0.6.4), patchutils (>= 0.2.25)
Standards-Version: 3.7.2

Package: archgenxml
Architecture: any
Depends: python (>= 2.4), python-support
Description: Generates python/zope/plone logic/code from UML.
 With ArchGenXML you can create working python code without writing one single 
 line of python. It is is a commandline utility that generates fully functional 
 Zope Products based on the Archetypes framework from UML models using XMI 
 (.xmi, .zargo, .zuml) files. The most common use case is to generate a set of 
 custom content types, possibly with a few tools, a CMFMember type and some 
 workflows thrown in.
 .
 In practice, you draw your UML diagrams in a tool like ArgoUML or Poseidon 
 which has the ability to generate XMI files. Once you are ready to test your 
 product, you run ArchGenXML on the XMI file, which will generate the product 
 directory. After generation, you will be able to install your product in Plone 
 and have your new content types, tools and workflows available.
 .
 At present, round-trip support is not implemented: Custom code can't be 
 converted back into XMI (and thus diagams). However, you can re-generate 
 your product over existing code. Method bodies and certain "protected" code 
 sections will be preserved. This means that you can evolve your product's 
 public interfaces, its methods and its attributes in the UML model, without 
 fear of losing your hand-written code.
 .
 Homepage: http://plone.org/products/archgenxml
